<html>
<body>
  <table style="color: rgb(255, 153, 0); background-color: rgba(255, 255, 0, 0.884);">
    <tr>
    <td> <h1> Name </h1></td>
    <td> <h1> Order </h1></td>
    </tr>
        <tr>
            <td> <h1><%= pikachu.name %> </h1></td>
            <td> <h1><%= pikachu.order %> </h1></td>
        </tr>  
        <tr>
            <td> <h1><%= bulbasaur.name %> </h1></td>
            <td> <h1><%= bulbasaur.order %> </h1></td>
        </tr>
        <tr>
            <td> <h1><%= charmander.name %> </h1></td>
            <td> <h1><%= charmander.order %> </h1></td>
        </tr>
</table>
</body>
</html>